<ion-header>
  <ion-toolbar>
    <ion-title>launch-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pastLaunches$ | async as pastLaunches">
  <main>
    <section class="container">
      <ion-card
        *ngFor="let launch of pastLaunches"
        [routerLink]="['/launch-details', launch.id]"
      >
        <ion-img
          [src]="launch.links.flickr_images[0]"
          alt="Mission patch of {{launch.mission_name}}"
          loading="lazy"
        ></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{launch.rocket.rocket_name}}</ion-card-subtitle>
          <ion-card-title>{{launch.mission_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Here’s a small text description for the card component. Nothing
            more, nothing less.
          </p>
          <ion-item>
            <ion-button fill="solid">Action</ion-button>
            <ion-icon name="heart" slot="end"></ion-icon>
            <ion-icon name="share" slot="end"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </section>
  </main>
</ion-content>
